.add-recipe-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100rem;
  background-color: var(--color-grey-light-2);
  border-radius: 9px;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  z-index: 100;
  transition: all 0.5s;
  @media only screen and (max-width: $bp-small) {
    // position: fixed;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    min-width: 100vw;
    height: 100%;
    border-radius: 0;
    padding: 0;
    top: 0;
    z-index: 88;
    transform: translate(0);
    left: 0;
    overflow: hidden;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0);
    z-index: 100;
    // background-color: black;
  }
  @media only screen and (max-width: $bp-smallest) {
    top: 0;
    height: 100%;

    // background-color: red;
  }

  // @media only screen and (max-width: 390px) {
  //   top: 47%;
  //   min-height: 100vh;
  // }
  // @media only screen and (max-width: 375px) {
  //   top: 50%;
  //   min-height: 100vh;
  // }
  // @media only screen and (max-width: 320px) {
  //   top: 29rem;
  //   min-height: 100vh;
  // }

  .toppers {
    // position: absolute;
    top: 0;
    right: 0;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--icon-color);
    // background-color: yellow;
    width: 100%;
    height: 8rem;
    z-index: 1000;
    // height: 10rem;
    padding: 3rem 2rem;
    // @media only screen and (max-width: $bp-small) {
    //   position: absolute;
    //   height: 12rem;
    // }
    // @media only screen and (max-width: $bp-small) {
    //   height: 9rem;
    // }
    @media only screen and (max-width: $bp-small) {
      height: 12rem;
      display: flex;
    }
    @media only screen and (max-width: $bp-smallest) {
      height: 8rem;
    }
    h1.recipe-title {
      position: relative;
      -webkit-text-fill-color: transparent;
      background-image: var(--gradient2);
      background-clip: text;
      font-size: 4rem;
      // animation: gradientDir 5s linear infinite;
      transition: all 1s ease-in-out;
      @media only screen and (max-width: $bp-small) {
        font-size: 5rem;
      }
      @media only screen and (max-width: $bp-smallest) {
        font-size: 4rem;
      }
      @media only screen and (max-width: 320px) {
        font-size: 3.5rem;
      }
    }
    .logo-imgsrec {
      @media only screen and (max-width: $bp-small) {
        display: none;
      }
    }
    .header2 {
      img {
        height: 5.5rem;
        display: none;
        @media only screen and (max-width: $bp-small) {
          height: 8rem;
        }
        @media only screen and (max-width: $bp-smallest) {
          height: 6rem;
        }
      }
    }

    .modeup {
      font-family: inherit;
      color: inherit;
      width: fit-content;
      height: 5.5rem;
      font-size: 2rem;
      padding: 1rem 3rem;
      color: #fff;
      cursor: pointer;
      border: none;
      background: var(--gradient);
      // background-color:red;
      border-radius: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      // @media only screen and (max-width: $bp-small) {
      //   top: -0.5rem;
      //   right: 4rem;
      // }
      // @media only screen and (max-width: $bp-smallest) {
      //   top: 0.5rem;
      //   right: 3rem;
      // }
      @media only screen and (max-width: $bp-small) {
        height: 8rem;
        font-size: 3rem;
        padding: 1rem 3rem;
      }
      @media only screen and (max-width: $bp-smallest) {
        height: 6rem;
        width: 6rem;
        padding: 1rem;
        border-radius: 50%;
        font-size: 3rem;
      }
      .back-to-home {
        @media only screen and (max-width: $bp-smallest) {
          padding: 1rem 1rem;
          font-size: 2rem;
          display: none;
        }
      }
    }
  }
  .btn--close-modal {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-transform: lowercase;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 1.6rem;
    width: 4rem;
    height: 3rem;
    font-size: 5rem;
    cursor: pointer;
    border: none;
    background: none;
    color: $color-grey-dark-2;
    @media only screen and (max-width: $bp-small) {
      padding-top: 1rem;
      top: 3rem;
      right: 3rem;
      display: none;
    }
    @media only screen and (max-width: $bp-smallest) {
      top: -1rem;
      right: 2rem;
    }
    @media only screen and (max-width: 320px) {
      top: -3rem;
      right: 1rem;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.upload {
  display: flex;
  flex-direction: column;
  // grid-template-columns: 1fr 1fr;
  gap: 4rem 6rem;
  // background-color: blue;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    // display: flex;
    // background-color: red;
    margin-top: 4rem;
    gap: 0;
    overflow: hidden;
    // overflow-y: scroll;
    min-height: 80%;
    width: 100%;
  }
  @media only screen and (max-width: $bp-smallest) {
    // display: flex;
    gap: 0;
    overflow: hidden;
    // overflow-y: scroll;
    height: 65rem;
  }
  @media only screen and (max-width: 320px) {
    flex-direction: column;
  }
  .uploadcolumns {
    display: flex;
    gap: 4rem;
    // background-color: blue;
    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      gap: 1rem;
      overflow: hidden;
      overflow-y: scroll; /* to be removed */
      height: 100%;
      padding-bottom: 2rem;
    }
    @media only screen and (max-width: 320px) {
      overflow-y: scroll;
    }
  }
  &__column {
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    align-items: center;
    gap: 1.5rem;
    @media only screen and (max-width: $bp-small) {
      // display: block;
      // text-wrap: wrap;
      display: flex;
      // flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5rem;
      width: fit-content;
      height: fit-content;
      padding-top: 1rem;
      // background-color: blue;
    }
    @media only screen and (max-width: $bp-smallest) {
      gap: 2rem;
      width: fit-content;
      height: fit-content;
    }
    @media only screen and (max-width: 320px) {
      // flex-direction: column;
      // overflow-y: scroll;
      // width: 40rem;
      // padding-inline: 1rem;
      background-color: var(--icon-color);
    }
    & label {
      font-size: 1.5rem;
      font-weight: 600;
      color: inherit;
      @media only screen and (max-width: $bp-small) {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 2.5rem;
        // background-color: blue;
      }
      @media only screen and (max-width: $bp-smallest) {
        font-size: 1.5rem;
        // background-color: blue;
      }
    }

    & input {
      font-size: 1.5rem;
      padding: 0.8rem 1rem;
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      transition: all 0.2s;
      width: 25rem;
      font-family: inherit;
      color: grey;
      @media only screen and (max-width: $bp-small) {
        min-width: 39rem;
        max-width: 44rem;
        font-size: 2rem;
        padding: 1rem;
      }
      @media only screen and (max-width: $bp-smallest) {
        width: 35rem;
        font-size: 1.5rem;
      }

      &::placeholder {
        color: var(--color-grey-light-3);
      }

      &:focus {
        outline: none;
        border: 1px solid var(--color-primary);
        background-color: var(--color-grey-light-1);
        // color: #fff;
        & .upload__btn {
          background-color: red;
        }
      }
    }

    & button {
      grid-column: 1 / span 2;
      justify-self: center;
      margin-top: 1rem;
    }
  }

  &__heading {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    grid-column: 1/-1;
    @media only screen and (max-width: $bp-small) {
      display: block;
      grid-column: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 0rem;
      font-size: 3rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      font-size: 2.25rem;
    }
  }

  &__btn {
    grid-column: 1 / -1;
    justify-self: center;
    @media only screen and (max-width: $bp-small) {
      display: flex;
      align-self: center;
      width: 250px;
      height: 8rem;
      margin-top: 3rem;
      margin-bottom: 3rem;
      justify-content: center;
      font-size: 2rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      width: 200px;
      height: 7rem;
      margin-top: 2.5rem;
      font-size: 1.7rem;
    }
    @media only screen and (max-width: 320px) {
      margin-top: 0;
      margin-bottom: 6.5rem;
    }
  }
}
